{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} - Make Your Choice!
{% endblock %}

{% block styles %}
    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>
{% endblock %}

{% block content %}

<p>Remember: You are paired with the same participant as in all previous rounds.</p>

<p>Choose your action by clicking one of the buttons below:</p>

<table class="table table-bordered text-center" style="width: auto; margin: auto">
    <tr>
        <th colspan="2" rowspan="2"></th>
        <th colspan="2">The Other Participant</th>
    </tr>
    <tr>
        <th>Action 1</th>
        <th>Action 2</th>
    </tr>
    <tr class="highlight-row-on-hover">
        <th rowspan="2"><span class="rotate90">You</span></th>
        <th>Action 1</th>
        <td>{{ C.BOTH_COOPERATE_PAYOFF }}, {{ C.BOTH_COOPERATE_PAYOFF }}</td>
        <td>{{ C.BETRAYED_PAYOFF }}, {{ C.BETRAY_PAYOFF }}</td>
    </tr>
    <tr class="highlight-row-on-hover">
        <th>Action 2</th>
        <td>{{ C.BETRAY_PAYOFF }}, {{ C.BETRAYED_PAYOFF }}</td>
        <td>{{ C.BOTH_DEFECT_PAYOFF }}, {{ C.BOTH_DEFECT_PAYOFF }}</td>
    </tr>
</table>

<br>

<div class="form-group">
    {{ formfields }}
</div>

{% next_button %}

{% endblock %}
