{{ block title }}Tell Us About Yourself{{ endblock }}
{{ block content }}

<style>
    /* Hide the number next to the radio button */
    .radio-cell label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .radio-cell label input {
        margin-bottom: 5px; /* Add spacing between the radio button and the label */
    }

    .radio-cell label span {
        font-size: 0.9em; /* Adjust the font size of the label text */
    }
</style>


<p>Please answer the following questions to help us better understand why your responses might be different from those of other participants in this study.</p>

<p>
    <strong>1. What is your age?</strong>
</p>
<ul>
    <li><input type="radio" name="age" value="Less than 25 years old" required> Less than 25 years old</li>
    <li><input type="radio" name="age" value="25-34 years old"> 25-34 years old</li>
    <li><input type="radio" name="age" value="35-44 years old"> 35-44 years old</li>
    <li><input type="radio" name="age" value="45-54 years old"> 45-54 years old</li>
    <li><input type="radio" name="age" value="55-64 years old"> 55-64 years old</li>
    <li><input type="radio" name="age" value="65-74 years old"> 65-74 years old</li>
    <li><input type="radio" name="age" value="Above 74 years old"> Above 74 years old</li>
</ul>
{{ formfield_errors 'age' }}

<p>
    <strong>2. What is your gender?</strong>
</p>
<ul>
    <li><input type="radio" name="gender" value="Male" required> Male</li>
    <li><input type="radio" name="gender" value="Female"> Female</li>
    <li><input type="radio" name="gender" value="Other"> Other</li>
</ul>
{{ formfield_errors 'gender' }}

<p>
    <strong>3. Please select the highest academic qualification that you have.</strong>
</p>
<ul>
    <li><input type="radio" name="qualification" value="Diploma" required> Diploma</li>
    <li><input type="radio" name="qualification" value="Bachelor Degree"> Bachelor Degree</li>
    <li><input type="radio" name="qualification" value="Masters Degree"> Masters Degree</li>
    <li><input type="radio" name="qualification" value="Doctoral Degree"> Doctoral Degree</li>
    <li><input type="radio" name="qualification" value="None of the above"> None of the above</li>
</ul>
{{ formfield_errors 'qualification' }}

<p>
    <strong>4. How many years of full-time working experience in an analyst role do you have?</strong>
</p>
<p>
    <label for="finance_experience">Please type here:</label>
    <input type="number" id="finance_experience" name="finance_experience" min="0" step="1" required> years
</p>
{{ formfield_errors 'finance_experience' }}

<p>
    <strong>5. Please indicate your level of involvement as an analyst:</strong>
</p>

<!-- Investment Research -->
<div style="margin-bottom: 30px;">
    <p>5.1 How involved are you with investment research:</p>
    <table style="margin: 15px 0; width: 100%; text-align: center;">
        <tr>
            {% for i in range(1, 8) %}
                <td class="radio-cell">
                    <label>
                        <input type="radio" name="investment_research" value="{{ i }}" required>
                        <span>
                            {% if i == 1 %}Not at all involved{% endif %}
                            {% if i == 2 %}Not involved{% endif %}
                            {% if i == 3 %}Rather not involved{% endif %}
                            {% if i == 4 %}Neutral{% endif %}
                            {% if i == 5 %}Rather involved{% endif %}
                            {% if i == 6 %}Involved{% endif %}
                            {% if i == 7 %}Very involved{% endif %}
                        </span>
                    </label>
                </td>
            {% endfor %}
        </tr>
    </table>
</div>
{{ formfield_errors 'investment_research' }}

<!-- Risk Assessments -->
<div style="margin-bottom: 30px;">
    <p>5.2 How involved are you with risk assessments:</p>
    <table style="margin: 15px 0; width: 100%; text-align: center;">
        <tr>
            <!-- <td style="text-align: left;">Not at all involved</td> -->
            {% for i in range(1, 8) %}
                <td class="radio-cell">
                    <label>
                        <input type="radio" name="risk_assessments" value="{{ i }}" required>
                    </label>
                    <span style="font-size: 0.9em; display: block; margin-top: 5px;">
                        {% if i == 1 %}Not at all involved{% endif %}
                        {% if i == 2 %}Not involved{% endif %}
                        {% if i == 3 %}Rather not involved{% endif %}
                        {% if i == 4 %}Neutral{% endif %}
                        {% if i == 5 %}Rather involved{% endif %}
                        {% if i == 6 %}Involved{% endif %}
                        {% if i == 7 %}Very involved{% endif %}
                    </span>
                </td>
            {% endfor %}
            <!-- <td style="text-align: right;">Very involved</td> -->
        </tr>
    </table>
</div>
{{ formfield_errors 'risk_assessments' }}

<p>{{ next_button }}</p>
{{ endblock }}